language: perl

install:
  - cpanm -n Clustericious
  - cpanm -n Clustericious::Config
  - cpanm -n Clustericious::Log
  - cpanm -n Data::Dumper
  - cpanm -n Digest::file
  - cpanm -n IO::Uncompress::Gunzip
  - cpanm -n Log::Log4perl
  - cpanm -n Log::Log4perl::CommandLine
  - cpanm -n Number::Bytes::Human
  - cpanm -n Yars::Client
  - cpanm -n Hash::MoreUtils
  - cpanm -n Filesys::Df
  - cpanm -n Monkey::Patch
  - cpanm -n Smart::Comments

script: HARNESS_IS_VERBOSE=1 YC_LIVE_TESTS=1 prove -lv t

perl:
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"

branches:
  only:
    - master
